# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.sqlite3
civicwatch_backup.sql

# User uploaded files
media/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db