<li class="nav-item">
    <a href="{% url 'govt_home' %}" class="nav-link">Home</a>
</li>

<li class="nav-item">
    <div class="dropdown">
        <a class="dropbtn">Manage</a>
        <div class="dropdown-content">
            <a href="{% url 'insertdepartment' %}">Register Department</a>
            <a href="{% url 'insertgrevcat' %}">Register Grievance Category</a>
        </div>
    </div>
</li>

<li class="nav-item">
           <div class="dropdown">
               <a class="dropbtn" >View Status</a>
               <div class="dropdown-content">
                   <a href="{% url 'viewdepartment' %}">Department List</a>
                   <a href="{% url 'viewgriev' %}">Grievance Status</a>
                   <a href="{% url 'viewgassign' %}">Assignments</a>
                   <a href="{% url 'viewgupdate' %}">View Updates</a>
                   <a href="{% url 'viewinmonitor' %}">Monitoring Records</a>
                   <a href="{% url 'viewfeed' %}">View Feedback </a>
               </div>
           </div>
    </li>

<li class="nav-item">
           <div class="dropdown">
               <a class="dropbtn" title="More">☰</a>
               <div class="dropdown-content">
                   <a href="{% url 'changepassword' %}">Change Password</a>
                   <a href="{% url 'logcheck' %}">Logout</a>
               </div>
           </div>
</li>

    <style>
        /* Drop-Down */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    background-color: #111133;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
    </style>