<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submit Grievance | CivicWatch</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
    .location-btn {
    margin-top: 10px;
    padding: 7px 10px;
    border: 1px solid #d4a843;
    border-radius: 6px;
    background: transparent;
    color: #d4a843;
    cursor: pointer;
    font-size: 14px;
    }

    .location-btn:hover {
    background: #d4a843;
    color: white;
    }

  </style>
</head>

<body>

  <!-- ── Navbar ── -->
  <nav class="navbar">

    <a href="{% url 'showindex' %}" class="logo">

      <div class="logo-icon">
        <img src="{% static 'logo.png' %}" width="70" height="50">
      </div>

      <div class="logo-text">
        Civic Watch
        <span>Government of Karnataka</span>
      </div>

    </a>

    <ul class="nav-links">
      {% include 'public_menu.html' %}
    </ul>

  </nav>

  <!-- ── Submit Grievance Section ── -->
  <section class="auth-page simp">

    <div class="auth-card fade-up" style="max-width:550px;">

      <h2>Submit Grievance</h2>

      <p class="subtitle">
        Submit your public grievance or infrastructure complaint
      </p>

      <!-- Django Form -->
      <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="form-group">
          <label>Grievance ID</label>
          <input type="text" name="grievance_id" value="{{ grievance_id }}" readonly required>
        </div>

          <div class="form-group">
          <label>Citizen Name</label>
          <input type="text" name="t1" value="{{ username }}" readonly required>
        </div>

        <div class="form-group">
          <label>Category</label>
            <select name="t2" required>
                <option value="" disabled selected>-- Select --</option>
                {% for cat in categories %}
                <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
          <label>Title</label>
          <input type="text" name="t3" placeholder="Enter grievance title" required minlength="2">
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea name="t4" placeholder="Enter grievance description" required minlength="5"></textarea>
        </div>

        <div class="form-group">
          <label>Location</label>
          <input type="text" name="t5" id="t5" placeholder="Enter complaint location" required>

          <button type="button" class="location-btn" onclick="getLocation()">
            📍 Use Current Location
          </button>
        </div>

        <div class="form-group">
          <label>Latitude</label>
          <input type="text" name="t6" id="latitude" readonly>
        </div>

        <div class="form-group">
          <label>Longitude</label>
          <input type="text" name="t7" id="longitude" readonly>
        </div>

        <div class="form-group">
          <label>Evidence Photo</label>
          <input type="file" name="t8" accept="image/*">
        </div>

        <div class="form-group">
          <label>Submission Date</label>
          <input type="date" name="t9" id="t9" readonly required>
        </div>

        <button type="submit" class="btn-submit">Submit Complaint</button>
      </form>

      <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        document.getElementById("latitude").value =
                            position.coords.latitude;
                        document.getElementById("longitude").value =
                            position.coords.longitude;
                    },
                    function(error) {
                        alert("Unable to retrieve location.");
                    }
                );
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        const today = new Date();
        const date = today.toISOString().split('T')[0];
        document.getElementById("t9").value = date;
    </script>

      {% if msg %}
      <script>
        alert("{{ msg }}");
      </script>
      {% endif %}
    </div>
  </section>
</body>
</html>